header
    .wrapper
        .header_row
            .header_left
                a.logo(href='#')
                    img(src="img/logo.png" alt="логотип" title="логотип")
                span производство текстиля для сна
            .header_right
                .phone
                    a(href='tel:+78005553535') 8 (800) 555-35-35
                    span Отдел по работе с дистрибьюторами
                a.button(href='#')
                    span Заказать звонок




