.wrapper
    .nav
        .nav-menu
            a(href="#") Главная
            a(href="#") Зарабатывать с donson
            a(href="#") О компании
            a(href="#") Продукция и цены
            a(href="#") Начать сотрудничество
            a(href="#") Аналитика
            a(href="#") Маркетинг
            a(href="#") Контакты