doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        link(rel="stylesheet" href="css/style.css")

        title Donson-test

    body.index
        staticContent
            remove(fileExtension=".woff")
            mimeMap(fileExtension=".woff" mimeType="application/octet-stream")

        include modules/header.pug
        include modules/nav.pug
        .info
            .cover
                img(src="img/cover.png" alt='' title='')
            .wrapper
                .title_block
                    h1 Станьте эксклюзивным дистрибьютором DonSon в своем регионе
                .info_block
                    h2.info_title и зарабатывайте от 500 тыс. руб. в месяц
                    h3.info_title на оптовой продаже текстиля для сна
                    h3.info_title Гарантия выхода на прибыль уже в первый месяц
                    .info_text
                        p Это возможно, поскольку мы обеспечим Вас текстильной продукцией высокого качества  и клиентами из Вашего региона, заинтересованных в оптовых закупках небольшими партиями
                        p Мы поможем Вам собрать или улучшить уже имеющуюся команду, проведем обучение Вас и персонала, научим наращивать объем продаж. С вами будет работать наш персональный менеджер, который поможет Вам в этом
                        p *Обычно наши дистрибьюторы через 3 месяца становятся самыми крупными текстильными компаниями в своем регионе и расширяют бизнес на соседние
                        a.button.button_arrow(href='#')
                            span Узнать подробнее

        include modules/footer.pug
        include modules/script.pug




