@font-face {
  font-family: 'glober_regular-webfont';
  src: url('../fonts/glober_regular-webfont.eot?#iefix') format('embedded-opentype');
  src: url('../fonts/glober_regular-webfont.woff') format('woff');
  src: url('../fonts/glober_regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-Regular';
  src:  url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype');
  src:  url('../fonts/MyriadPro-Regular.woff') format('woff');
  src:  url('../fonts/MyriadPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
