@import "smart-grid";

header {
  background: url("../img/header.jpg") no-repeat center;
  background-size: cover;
  padding: 7px 0 32px;
}
.logo {
  display: block;
  position: relative;
}
.header {
  &_row {
    @include row-flex;
    align-items: flex-end;
  }
  &_left{
    @include col;
    @include size(3);
    padding-left: 20px;
    span {
      display: block;
      letter-spacing: 0.2px;
      margin-top: -5px;
    }
  }
 &_right {
    @include col;
    @include size(9);
    align-items: center;
    display: flex;
    justify-content: flex-end;
   .phone {
     display: flex;
     flex-direction: column;
     a {
       color: #18a2bd;
       font-size: 26px;
       line-height: 26px;
       text-decoration: none;
       &:before {
         content: '';
         background: url("../img/phone.png") no-repeat;
         display: inline-block;
         height: 26px;
         margin-right: 7px;
         position: relative;
         top: 3px;
         width: 26px;
       }
     }
     span {
       letter-spacing: 0.05px;
     }
   }
   .button {
     margin-left: 45px;
     margin-right: 8px;
     margin-top: 2px;
   }
  }
}


