@import "smart-grid";

body {
  font-family: 'glober_regular-webfont';
  font-size: 14px;
}
h2 {

}
.button {
  background: #FFC000;
  color: #2a292a;
  cursor: pointer;
  display: block;
  height: 35px;
  font-size: 16px;
  font-weight: bold;
  line-height: 35px;
  justify-content: center;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out;
  width: 215px;
  &:hover {
    background: #000000;
    color: #FFC000;
    span {
      &:after,
      &:before {
        background: #FFC000;
      }
    }
  }
  span {
    padding: 0 20px;
    &:after,
    &:before {
      content: '';
      background: #2a292a;
      display: inline-block;
      height: 2px;
      position: absolute;
      top: 50%;
      transition: background 0.25s ease-in-out;
      width: 20px;
    }
    &:after {
      right: 0;
    }
    &:before {
      left: 0;
    }
  }
}
.title {
  &_block {
    background: #18a2bd;
    padding-top: 23px;
    h1 {
      color: #ffffff;
      font-size: 30px;
      font-weight: normal;
      line-height: 1.43;
      letter-spacing: 0.2px;
      margin: 0;
      padding: 13px 18px;
      text-transform: uppercase;
    }
  }
}
.info {
  background: url("../img/banner.jpg") no-repeat center;
  background-size: cover;
  margin-top: -23px;
  padding-bottom: 22px;
  position: relative;
  .cover {
    position: absolute;
    bottom: -35px;
    left: -9px;
  }
  &_block {
    background: #ffffff;
    padding: 0 18px 30px;
    width: 620px;
    h2 {
      color: #18a2bd;
      font-size: 26px;
      font-weight: bold;
      letter-spacing: 0.1px;
      line-height: 1.88;
      margin-bottom: -8px;
      margin-top: 0;
      padding-top: 3px;
    }
    h3 {
      color: #2a292a;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 0.1px;
      line-height: 2.03;
      margin: 0;
    }
  }
  &_title {
    text-transform: uppercase;
  }
  &_text {
    border-left: 2px solid #000000;
    padding-left: 7px;
    margin-left: 12px;
    margin-top: 3px;
    p {
      color: #2a292a;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.13;
      margin-bottom: 15px;
      margin-top: -3px;
    }
  }
  .button {
    margin: 18px 0 10px 180px;
    position: relative;
    &:before {
      background: #ffc000 url('../img/arrow.png') no-repeat center;
      border-radius: 50%;
      content: '';
      height: 23px;
      position: absolute;
      bottom: -30px;
      left: calc(50% - 10.5px);
      transition: background 0.25s ease-in-out;
      width: 23px;
    }
    &:hover {
      &:before {
        background: #000000 url('../img/arrow-hover.png') no-repeat center;
      }
    }
  }
}
