.nav {
  background-color: #2A292A;
  height: 45px;
  margin-top: -23px;
  position: relative;
  z-index: 1;
  &-menu {
    display: flex;
    line-height: 45px;
    justify-content: space-between;
  }
  a {
    color: $color-0;
    font-family: 'MyriadPro-Regular';
    font-size: 14px;
    padding: 0 15px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.25s ease-in-out;
    &:after,
    &:before {
      background: #2a292a;
      content: '';
      display: inline-block;
      height: 2px;
      position: absolute;
      top: 50%;
      width: 10px;
      transition: background 0.25s ease-in-out;
    }
    &:after {
      right: 0;
    }
    &:before {
      left: 0;
    }
    &:hover {
      background: #FFC000;
      color: #000000;
      &:after,
      &:before {
        background: #2a292a;
      }
    }
  }
}